<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card primary-degraded" style="height: 10rem;">
            <a href="#" data-toggle="modal" data-target="#formCampaign">
                <div class="card-body text-center">
                    <h3 class="card-title text-white">Add a new campaign</h3>
                    <h1 class="text-white"><i class="tim-icons icon-simple-add"></i></h1>
                    <h5 class="card-subtitle mb-2 text-muted text-white">Click here to create a new campaign</h5>
                </div>
            </a>
        </div>
    </div>
    <% @campaigns.each do |c| %>
    <div class="col-md-4">
        <a href="/campaigns/<%= c.id %>">
            <div class="card" style="height: 10rem;">
                <div class="card-body">
                    <h2 class="card-title text-black"><%= c.title.length < 36 ?  c.title : "#{c.title[0..34]}..." %></h2>
                    <h4 class="card-subtitle mb-2 text-muted"><%= c.hashtag %></h4>
                    <div style="background-color: <%= c.color %>; height: 3rem;"></div>
                </div>
            </div>
        </a>
    </div>
    <%end%>
</div>

<!-- Modal -->
<div class="modal fade" id="formCampaign" tabindex="-1" role="dialog" aria-labelledby="formCampaignLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="formCampaignLabel">Create a new campaign</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'campaigns/form', campaign: @campaign %>
      </div>
    </div>
  </div>
</div>
