<%= form_with(model: publication, local: true, multipart: true) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autocomplete: "off", class:"form-control has-info", placeholder: "Publication title", style: "color: black" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class:"form-control has-info", placeholder: "Publication Body", style: "color: black"  %>
  </div>

  <div class="form-check text-left">
    <label class="form-check-label">
      <%= check_box_tag :add_hashtag, true,class: "form-check-input" %>
      <span class="form-check-sign"></span>
      <p>Add hashtag before publishing</p>
    </label>
  </div>

  <div class="form-group mt-3">
    <label>Media</label><br/>
    <label for="publication_media" class="btn btn-block btn-outline">Search file<label>
    <%= file_field :publication, :media, class: 'd-none' %>
  </div>

  <input type="hidden" name="publication[campaign_id]" id="publication_campaign_id" value="<%= campaign.id %>">

  <div class="actions">
    <%= form.submit 'Publish', class: 'btn btn-info btn-round'%>
  </div>
<% end %>

