<%= form_tag(companies_path, method: "post") do %>
<div class="wrapper">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card card-register">
          <div class="card-header primary-degraded">
            <h4 class="card-title text-white">Sign up</h4>
          </div>
          <div class="card-body row">
            <form class="form">
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-bank"></i>
                    </div>
                  </div>
                  <input class="form-control" autocomplete="off" placeholder="Organization name's" type="text" name="company[name]" id="company_name">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-badge"></i>
                    </div>
                  </div>
                  <%= text_field :user, :username, autocomplete: "off", class:"form-control", placeholder: "Name of the responsible" %>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-app"></i>
                    </div>
                  </div>
                  <select class="form-control" name="company[package]" id="company_package">
                    <option value="0" style="color: #000;">Select a package</option>
                    <option value="1" style="color: #000;">Basic (1 user)</option>
                    <option value="2" style="color: #000;">Pro (5 user)</option>
                    <option value="3" style="color: #000;">Business (15 user)</option>
                  </select>
                </div>
              </div>
              <!-- Derecha -->
              <div class="col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-email-85"></i>
                    </div>
                  </div>
                  <%= email_field :user, :email, autocomplete: "email", class:"form-control", placeholder: "Email" %>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-lock-circle"></i>
                    </div>
                  </div>
                  <%= password_field :user, :password, autocomplete: "current-password", class:"form-control", placeholder: "Password" %>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-lock-circle"></i>
                    </div>
                  </div>
                  <%= password_field :user, :password_confirmation, autocomplete: "current-password", class:"form-control", placeholder: "Password confirmation" %>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <%= submit_tag "Sign up", class: "btn btn-primary btn-round btn-lg mr-4" %>
            <a href="/users/sign_in" class="text-black">I'm a user</a>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>