<%= form_tag '/workgroup', method: 'post' do %>
    <div class="form-group">
        <%= label_tag 'Full name' %>
        <%= text_field :user, :username, class:"form-control", placeholder: "Full name", style: "color: black" %>
    </div>

    <div class="form-group">
        <%= label_tag 'Email' %>
        <%= text_field :user, :email, class:"form-control", placeholder: "Email", style: "color: black" %>
    </div>

    <div class="form-group">
        <%= label_tag 'Password' %>
        <%= password_field :user, :password, class:"form-control", placeholder: "Password", style: "color: black" %>
    </div>

    <div class="form-group">
        <%= label_tag 'Password confirmation' %>
        <%= password_field :user, :password_confirmation, class:"form-control", placeholder: "Password confirmation", style: "color: black" %>
    </div>

    <div class="actions">
        <%= submit_tag 'Save', class: 'btn btn-info btn-round'%>
    </div>
<%end%>
