<h1>Workgroup <% if current_user.is_admin %><a href="#" data-toggle="modal" data-target="#formUser" class="btn btn-info btn-sm">Add new user</a><%end%></h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Since</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
        <% @workgroup.each do |user| %>
            <tr>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <% t = user.created_at %>
                <td><%= t.strftime("%d/#{t.asctime[4..6]}/%y") %></td>
                <td class="td-actions text-right">
                <button type="button" rel="tooltip" data-toggle="modal" data-id="<%= user.id %>" data-target="#editFormUser" class="btn btn-success btn-sm btn-round btn-icon">
                    <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <% if !user.is_admin %>
                  <a href="workgroup/<%=user.id%>" data-method="delete" class="btn btn-danger btn-sm btn-round btn-icon">
                      <i class="tim-icons icon-simple-remove"></i>
                  </a>
                <%end%>
                </td>
            </tr>
        <%end%>
    </tbody>
</table>

<!-- Modal Form -->
<div class="modal fade" id="formUser" tabindex="-1" role="dialog" aria-labelledby="formUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="formUserLabel">Create a new User</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'workgroups/form' %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Form edit -->
<div class="modal fade" id="editFormUser" tabindex="-1" role="dialog" aria-labelledby="editFormUserLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="editFormUserLabel">Edit User</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'workgroups/form' %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#editFormUser').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    var id_user = button.data('id'); // Extract info from data-* attributes
    var modal = $(this);
    
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    $.get( '/workgroup/user/'+id_user, function( data ) {
      modal.find('#user_username').val(data['username']);
      modal.find('#user_email').val(data['email']);
    });
  })
</script>


