<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="wrapper">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-register">
        <div class="card-header primary-degraded">
          <h4 class="card-title text-white">Log in</h4>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-email-85"></i>
                </div>
              </div>
              <%= f.email_field :email, autocomplete: "email", class:"form-control has-info", placeholder: "Email" %>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"></i>
                </div>
              </div>
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "Password" %>
            </div>
            <div class="form-check text-left">
              <% if devise_mapping.rememberable? %>
                <label class="form-check-label text-black">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <span class="form-check-sign"></span>
                  Remember me
                </label>
              <% end %>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <%= f.submit "Log in", class: "btn btn-primary btn-round btn-lg mr-4" %>
          <a href="/companies/new" class="text-black">Sign up</a>
        </div>
      </div>
    </div>
  </div>   
</div>
<% end %>