<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <% campaign.errors.full_messages.each do |message| %>
        <div class="alert alert-danger alert-with-icon front">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-support-17"></span>
          <span><%= message %></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, autocomplete: "off", class:"form-control has-info", placeholder: "Campaign title", style: "color: black" %>
  </div>

  <div class="form-group">
    <%= form.label :hashtag %>
    <%= form.text_field :hashtag, class:"form-control", autocomplete: "off", 'data-content': "For a hashtag to be effective it must NOT be less than 2 characters or greater than 30. They must start with the symbol of numeral (#) and must only contain uppercase, lowercase and numbers.", 'data-trigger': "focus", 'data-toggle': "popover", 'data-placement': "bottom", placeholder: "Campaign hashtag", style: "color: black" %>
  </div>

  <div class="form-group">
    <%= form.label :color %>
    <%= form.color_field :color, class:"form-control", placeholder: "Campaign color", style: "color: black" %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'btn btn-info btn-round'%>
  </div>
<% end %>
