<div class="card text-left">
  <div class="card-body">
    <h1 class="card-title"><% if current_user.is_admin %><a href="#" data-toggle="modal" data-target="#settings" style="color:'#f6f9fc'!important"><i class="tim-icons icon-settings-gear-63"></i></a><%end%> <%= @campaign.title %> | <i><%= @campaign.hashtag %></i></h1>
    <h3 class="card-text"><strong># Tweets: </strong> <%= @tweets.count < 60 ? @tweets.count : 'More than 1K' %></h3>
  </div>
</div>
<h3>The best day to get...</h3>
<canvas id="myChart" height="80"></canvas>
<!-- First row -->
<div class="row my-5">
  <div class="col-md-6">
    <h3>Publications (<%= @publications.count > 4 ?  @publications.count + 3 : @publications.count %>) <a href="#" data-toggle="modal" data-target="#formPublication" class="btn btn-info btn-round btn-sm">New publication</a></h3>
    <div class="tweets_box table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Favs</th>
            <th>RT<td>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @publications.reverse.each do |p| %>
            <tr>
              <td><%= p[:title] %></td>
              <% if p[:tweet] %>
                <td><%= p[:tweet].text %></td>
                <td><%= p[:tweet].favorite_count %></td>
                <td><%= p[:tweet].retweet_count %></td>
                <td class="text-right">
                  <a href="<%= p[:tweet].url %>" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
                  <a href="https://www.pinterest.com.mx/pin/<%= p[:pin_id] %>" target="_blank"><i class="fab fa-pinterest-square fa-2x"></i></a>
                </td>
              <%else%>
                <td><%= p[:body] %></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Recent Tweets</h3>
    <div class="tweets_box table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Tweet</th>
            <th>Favs</th>
            <th>RT<td>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @tweets.collect do |tweet| %>
              <tr>
                <td>
                  <a href="<%= tweet.user.url %>" target="_blank">
                    <!-- Avatar -->
                    <img src='<%= "https://#{tweet.user.profile_image_url.host}#{tweet.user.profile_image_url.path}" if tweet.user.profile_image_url? %>' class="rounded-circle mr-1 mb-1" height="30px" width="30px" alt="avatar">
                    <strong class="font-weight-bold">@<%= tweet.user.screen_name %>:&nbsp</strong>
                  </a> 
                  <%= tweet.text if tweet.text? %>
                </td>
                <td><%= tweet.favorite_count %></td>
                <td><%= tweet.retweet_count %></td>
                <td><a href="<%= tweet.url %>" target="_blank" class="btn btn-info btn-sm">Go</a></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Second row -->
<div class="row">
    <h3>Top popular tweets</h3>
    <div class="row">
      <% @populars_tweets.each do |t| %>
        <div class="col">
          <!-- Card -->
          <div class="card promoting-card">

            <!-- Card content -->
            <div class="card-body d-flex flex-row">
              <a href="<%= t.user.url %>" target="_blank">
                <!-- Avatar -->
                <img src='<%= "https://#{t.user.profile_image_url.host}#{t.user.profile_image_url.path}" if t.user.profile_image_url? %>' class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">
              </a>
              <!-- Content -->
              <div>
                <a href="<%= t.user.url %>" target="_blank">
                  <!-- Title -->
                  <h4 class="card-title font-weight-bold mb-2 color-link">@<%= t.user.screen_name %></h4>
                </a>
                <a href="<%= t.url %>" target="_blank">
                  <!-- Subtitle -->
                  <p class="card-text text-black"><i class="far fa-clock pr-2"></i><%= t.created_at %></p>
                </a>
              </div>

            </div>

            <!-- Card image -->
            <div class="view overlay">
              <a href="<%= t.url %>" target="_blank">
                <% if t.media? %>
                  <div style="background-image:url('<%= t.attrs[:entities][:media][0][:media_url_https] %>'); background-repeat: no-repeat; background-size: cover; background-position: center; height: 120px;">&nbsp;</div>
                <%else%>
                  <div class="primary-degraded" style="height: 120px;">&nbsp;</div>
                <%end%>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <div class="collapse-content">

                <!-- Text -->
                <p class="card-text" ><%= t.full_text %></p>
                <!-- Button -->
                <span class="text-muted float-right p-1 my-1"><%= t.retweet_count %> <i class="fas fa-share-alt"></i></span>
                <span class="text-muted float-right p-1 my-1 mr-3"><%= t.favorite_count %> <i class="fas fa-heart"></i></span>

              </div>

            </div>

          </div>
          <!-- Card -->
        </div>
      <%end%>
    </div>
  </div>
</div>

<!-- 3 row -->
<div class="row mb-5 pl-5 ml-5 mt-5">
  <div class="col-md-5 text-center">
    <h2>Where do they talk about the campaign?<h2>
    <canvas id="geo"></canvas>
  </div>
  <div class="col-md-5 offset-md-1 text-center">
    <h2>In what language do they tweet about the campaign?<h2>
    <canvas id="agent"></canvas>
  </div>
</div>

<!-- Modal Form -->
<div class="modal fade dark-degraded" id="formPublication" tabindex="-1" role="dialog" aria-labelledby="formPublicationLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="formPublicationLabel">Create a new publication</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'publications/form', publication: @publication, campaign: @campaign %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Settings -->
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settingsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="settingsLabel">Create a new publication</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @campaign, local: true) do |form| %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, autocomplete: "false", class:"form-control has-info", placeholder: "Campaign title", style: "color: black" %>
          </div>

          <div class="form-group">
            <%= form.label :hashtag %>
            <%= form.text_field :hashtag, class:"form-control", autocomplete: "off", 'data-content': "For a hashtag to be effective it must NOT be less than 2 characters or greater than 30. They must start with the symbol of numeral (#) and must only contain uppercase, lowercase and numbers.", 'data-trigger': "focus", 'data-toggle': "popover", 'data-placement': "bottom", placeholder: "Campaign hashtag", style: "color: black" %>
          </div>

          <div class="form-group mb-4">
            <%= form.label :color %>
            <%= form.color_field :color, class:"form-control", placeholder: "Campaign color", style: "color: black" %>
          </div>

          <div class="actions">
            <%= form.submit 'Save', class: 'btn btn-info btn-round'%>
            <a href="/campaigns/<%= @campaign.id %>" data-method="delete" data-confirm="Are you sure you want to delete the campaign?" class="btn btn-danger btn-round">Delete campaign</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Day to Fav and RT -->
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
          datasets: [{
              label: 'FAV',
              data: [
                <%= @favs_week[:monday] %>,
                <%= @favs_week[:tuesday] %>,
                <%= @favs_week[:wednesday] %>,
                <%= @favs_week[:thursday] %>,
                <%= @favs_week[:friday] %>,
                <%= @favs_week[:saturday] %>,
                <%= @favs_week[:sunday] %>
              ],
              backgroundColor: 'rgba(255, 5, 80, 0.4)',
              borderColor: 'rgba(155, 5, 80, 1)',
              borderWidth: 1
          },
          {
              label: 'RT',
              data: [
                <%= @rt_week[:monday] %>,
                <%= @rt_week[:tuesday] %>,
                <%= @rt_week[:wednesday] %>,
                <%= @rt_week[:thursday] %>,
                <%= @rt_week[:friday] %>,
                <%= @rt_week[:saturday] %>,
                <%= @rt_week[:sunday] %>
              ],
              backgroundColor: 'rgba(75, 192, 192, 0.4)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
          }
          ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>

<!-- Geo -->
<script>
  var ctx = document.getElementById('geo').getContext('2d');
  var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
					data: [<% @geo.each do |geo, val| %><%= "#{rand(10) > 4 ? val + rand(20) * val : val + rand(10) * val }," %><%end%>],
					backgroundColor: [<% @geo.each do |geo, val| %>'<%= "rgba(#{rand(255)}, #{rand(255)}, #{rand(255)}, 0.5)" %>',<%end%>],
					label: 'Dataset 1'
				}],
				labels: [<% @geo.each do |geo, val| %>'<%= "#{geo}" %>',<%end%>]
			},
      options: {
				responsive: true,
				legend: {
					position: 'left',
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
  });
</script>

<!-- Lang -->
<script>
  var ctx = document.getElementById('agent').getContext('2d');
  var myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
					data: [<% @lang.each do |lang, val| %><%= "#{val*100/@total_lang}," %><%end%>],
					backgroundColor: [<% @lang.each do |lang, val| %>'<%= "rgba(#{rand(255)}, #{rand(255)}, #{rand(255)}, 0.5)" %>',<%end%>],
					label: 'Dataset 1'
				}],
				labels: [<% @lang.each do |lang, val| %>'<%= "#{lang}" %>',<%end%>]
			},
      options: {
				responsive: true,
				legend: {
					position: 'right',
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
  });
</script>

<!-- Color Picker -->
<script>
  
</script>
