$colors: (
  "primary": #5d0eb3,
  "primary-dark": rgb(76, 12, 145),
  "secondary": #e4199c,
  "secondary-dark": #e4199c,
  "white": #fff,
  "black": #000
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color !important;
    background-image: none !important;
  }
  .text-#{$name} {
    color: $color !important;
  }
}

.primary-degraded {
  background-color: #5d0eb3 !important;
  background-image: linear-gradient(
    134deg,
    #5d0eb3 10%,
    #e4199c 115%
  ) !important;
  //background-image: linear-gradient(134deg, #8d47ff 0%, #3358f4 100%);
}

.dropdown-toggle {
  border: none;
  background-color: transparent !important;
  background-image: transparent !important;
}

.dropdown-toggle:hover {
  cursor: pointer;
}

.nav-link:hover {
  color: white !important;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2),
    -3px 0px 16px rgba(255, 255, 255, 0.79);
}
