body {
  overflow-x: hidden;
}

.front {
  z-index: 10000000;
}

.select {
  background-color: transparent !important;
}

.form-group input[type="file"] {
  opacity: 1;
  position: relative !important;
}

.tweets_box {
  overflow: scroll;
  height: 250px;
  border-radius: 4px;
  padding: 0.5rem;
  overflow-x: hidden;
}

.tweets_box::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.tweets_box::-webkit-scrollbar-track {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle */
.tweets_box::-webkit-scrollbar-thumb {
  background: #671ed7;
  border-radius: 5px;
}

/* Handle on hover */
.tweets_box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
