<!DOCTYPE html>
<html lang="en">

<head>
  <title>M#M</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script src="https://demos.creative-tim.com/blk-design-system/assets/js/plugins/chartjs.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg text-white primary-degraded">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          <h3 class="text-white"><span>M#M</span> <% if user_signed_in?%> | <%= current_user.company.name %><%end%></h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="example-navbar-success">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in?%>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="tim-icons icon-components"></i> Dashboard
            </a>
          </li>
        <%end%>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="tim-icons icon-world"></i> Lang
            </a>
          </li>
          <% if user_signed_in?%>
          <li class="nav-item">
            <div class="dropdown">
              <button class="dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="tim-icons icon-single-02"></i> <%= current_user.username %>
              </button>
              <% if current_user.is_admin %>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/workgroup"><i class="tim-icons icon-badge"></i> Workgroup</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#"><i class="tim-icons icon-settings-gear-63"></i> Settings</a>
                  <a class="dropdown-item" href="/users/sign_out" data-method="delete"><i class="tim-icons icon-button-power"></i> Sign out</a>
                </div>
              <%end%>
            </div>
          </li>
          <%end%>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if alert %>
      <% if alert.class == String %>
        <div class="alert alert-danger alert-with-icon front">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
          <span data-notify="icon" class="tim-icons icon-support-17"></span>
          <span><strong><%= alert %></span>
        </div>
      <% else %>
        <% alert.each do |key, value| %>
          <div class="alert alert-danger alert-with-icon front">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span data-notify="icon" class="tim-icons icon-support-17"></span>
            <span><strong><%= key.capitalize %>: </strong><%= value[0] %></span>
          </div>
        <%end%>
      <%end%>
    <%end%>
    <% if notice %>
      <div class="alert alert-success alert-with-icon front">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span data-notify="icon" class="tim-icons icon-support-17"></span>
        <span><%= notice %></span>
      </div>
    <%end%>
  </div>
  <!-- Yield -->
  <div class="container">
    <%= yield %>
  </div>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="https://demos.creative-tim.com/blk-design-system/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="https://demos.creative-tim.com/blk-design-system/assets/js/plugins/moment.min.js"></script>
  <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
  <script src="https://demos.creative-tim.com/blk-design-system/assets/js/blk-design-system.min.js?v=1.0.0" type="text/javascript"></script>
</body>

</html>
